# =========================
# Environment files
# =========================
.env
.env.local
.env.*.local
*.env
PROJECT_HANDOFF.md
# Keep example env files
!.env.example
!*.env.example


# =========================
# Dependencies
# =========================
node_modules/


# =========================
# Build output
# =========================
dist/
build/


# =========================
# Vite / cache
# =========================
.vite/
.cache/


# =========================
# Logs
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# =========================
# TypeScript
# =========================
*.tsbuildinfo


# =========================
# OS files
# =========================
.DS_Store
Thumbs.db


# =========================
# Editor folders
# =========================
.vscode/
.idea/
.cursor/
